{{#d-modal-body title=modalTitle class="plugin-manager-plugin"}}
  <div class="urls">
    <div class="url">
      <label>{{i18n "admin.plugin_manager.plugin.url"}}</label>
      {{input type="text" value=model.url disabled=urlDisabled class="plugin-url"}}

      {{#if canRetrieve}}
        {{d-button
          icon="download"
          label="admin.plugin_manager.plugin.retrieve"
          title="admin.plugin_manager.plugin.retrieve"
          action="retrieve"
          disabled=retrieveDisabled
          class="save"}}
      {{/if}}
    </div>
  </div>

  {{#if showPlugin}}
    <div class="plugin">
      {{#if retrieving}}
        {{loading-spinner}}
      {{else}}
        <h3>{{model.display_name}}</h3>
        <div class="attributes">
          <div class="plugin-attr">
            <label>{{i18n "admin.plugin_manager.plugin.authors"}}</label>
            {{model.authorList}}
          </div>

          <div class="plugin-attr">
            <label>{{i18n "admin.plugin_manager.plugin.about"}}</label>
            {{model.about}}
          </div>

          <div class="plugin-attr">
            <label>{{i18n "admin.plugin_manager.plugin.test_host"}}</label>
            {{model.test_host}}
          </div>

          {{#if model.hasContactEmails}}
            <div class="plugin-attr">
              <label>{{i18n "admin.plugin_manager.plugin.contact_emails"}}</label>
              {{model.contactEmails}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    label="admin.plugin_manager.plugin.save"
    title="admin.plugin_manager.plugin.save"
    action="save"
    disabled=saving
    class="save"}}

  {{conditional-loading-spinner
    size="small"
    condition=saving}}
</div>
