{{#d-modal-body title=modalTitle class="plugin-manager-plugin"}}
  <div class="attributes">
    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.name"}}</label>
      {{input type="text" value=model.name disabled=model.from_file}}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.url"}}</label>
      {{input type="text" value=model.url disabled=model.from_file}}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.authors"}}</label>
      {{multi-select
        value=model.authorList
        onChange=(action "updateNames")
        options=(hash
          disabled=model.from_file
          allowAny=true
        )
      }}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.about"}}</label>
      {{textarea value=model.about disabled=model.from_file}}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.version"}}</label>
      {{input type="text" value=model.version disabled=model.from_file}}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.contact_emails"}}</label>
      {{multi-select
        value=model.contactEmails
        onChange=(action "updateContactEmails")
        options=(hash
          disabled=model.from_file
          allowAny=true
        )
      }}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.test_host"}}</label>
      {{combo-box
        content=testHosts
        value=model.test_host
        options=(hash
          disabled=model.from_file
        )
      }}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.status"}}</label>
      {{combo-box
        content=pluginStatuses
        value=model.status
        options=(hash
          disabled=readOnlyStatus
        )
      }}
    </div>

    <div class="plugin-attr">
      <label>{{i18n "admin.plugin_manager.plugin.support_url"}}</label>
      {{input type="text" value=model.support_url}}
    </div>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    icon="save"
    label="admin.plugin_manager.plugin.save"
    title="admin.plugin_manager.plugin.save"
    action="save"
    disabled=loading
    class="save"}}

  {{#if canDelete}}
    {{d-button
      action="delete"
      label="admin.plugin_manager.plugin.delete"
      title="admin.plugin_manager.plugin.delete"
      icon="trash-alt"
      class="destroy"
      disabled=loading}}
  {{/if}}

  {{conditional-loading-spinner
    size="small"
    condition=loading}}
</div>