<button class="btn btn-icon-text" {{action "toggleDiscourseStatus"}}>
  {{d-icon "code-branch"}}
  <span classs="d-button-label">{{discourse.git_branch}}</span>
</button>

{{#if showDiscourseDetail}}
  <div class="discourse-detail plugin-manager-detail">
    <ul class="detail-metadata">
      <li>
        <label class="detail-label">{{i18n 'server_status.discourse.branch'}}</label>
        <span class="detail-value">
          {{d-icon "code-branch"}}{{dash-if-empty discourse.git_branch}}
        </span>
      </li>
      <li>
        <label class="detail-label">{{i18n 'server_status.discourse.version'}}</label>
        <span class="detail-value">{{dash-if-empty discourse.installed_version}}</span>
      </li>
      <li>
        <label class="detail-label">{{i18n 'server_status.discourse.commit'}}</label>
        <span class="detail-value">
          <a href={{discourse.gitLink}} rel="noopener noreferrer" target="_blank">
            {{discourse.shortSha}}
          </a>
        </span>
      </li>
    </ul>
  </div>
{{/if}}