<div class="branch">
  <label>{{i18n 'server_status.discourse.branch'}}</label>
  {{dash-if-empty discourse.git_branch}}
</div>

<div class="version">
  <label>{{i18n 'server_status.discourse.version'}}</label>
  {{dash-if-empty discourse.installed_version}}
</div>

<div class="sha-link">
  <label>{{i18n 'server_status.discourse.commit'}}</label>
  <a href={{discourse.gitLink}} rel="noopener noreferrer" target="_blank">
    {{discourse.shortSha}}
  </a>
</div>