<div class="detail-title">
  {{owner-logo owner label=true linked=true class="medium"}}

  <div class="detail-links">
    <a href={{owner.url}} class="detail-link" target="_blank" title={{typeTitle}}>
      {{d-icon "fab-github"}}
    </a>
  </div>
</div>

<ul class="detail-metadata">
  {{#if owner.description}}
    <li>
      <label class="detail-label">{{i18n 'server_status.plugin.owner.description'}}</label>
      <span class="detail-value">{{owner.description}}</span>
    </li>
  {{/if}}
</ul>

<div class="detail-actions">
  {{#if owner.website}}
    {{action-link url=owner.website icon="globe" labelKey="server_status.plugin.owner.website"}}
  {{/if}}

  {{#if owner.email}}
    {{action-link url=mailtoUrl icon="envelope" labelKey="server_status.plugin.owner.email"}}
  {{/if}}
</div>