<div class="detail-title">
  <div title={{detailDescription}}>
    <span class="plugin-name">{{plugin.display_name}}</span>
    {{branch-label plugin}}
    <span>{{detailTitle}}</span>
    <span class="discourse-name">{{i18n "server_status.discourse.title"}}</span>
    {{branch-label discourse}}
  </div>

  <div class="detail-links">
    <span class="status-badge {{plugin.statusClass}}" title={{plugin.statusTitle}}>
      {{d-icon plugin.statusIcon}}
    </span>
  </div>
</div>

{{#if hasLog}}
  <div class="detail-actions">
    {{#if plugin.log.test_url}}
      {{action-link
        url=plugin.log.test_url
        icon="external-link-alt"
        labelKey="server_status.plugin.test_log"}}
    {{/if}}

    {{#if plugin.log.issue_url}}
      {{action-link
        url=plugin.log.issue_url
        icon="external-link-alt"
        labelKey="server_status.plugin.issue_report"}}
    {{/if}}

    <a class="show-log action-link" {{action "toggleLog"}} role="button">
      {{d-icon "file-alt"}}
      <span>{{i18n "server_status.plugin.log.show"}}</span>
    </a>

    {{#if showLog}}
      <div class="log-detail">
        <div class="log-attr log-date">
          <label>{{i18n "server_status.plugin.log.updated_at"}}</label>
          <span>{{plugin.log.updated_at}}</span>
        </div>

        <div class="log-attr log-message">
          <label>{{i18n "server_status.plugin.log.message"}}</label>
          <span>{{plugin.log.message}}</span>
        </div>

        {{#if plugin.log.backtrace}}
          <div class="log-attr log-backtrace">
            <label>{{i18n "server_status.plugin.log.backtrace"}}</label>
            <div class="backtrace-content">{{plugin.log.backtrace}}</div>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}
