<td class="name">
  <div class="name-container">
    <a {{action "togglePluginDetail"}} class="btn-plugin">
      <span classs="name-label">{{plugin.display_name}}</span>
    </a>

    {{#if showPluginDetail}}
      {{plugin-detail plugin=plugin}}
    {{/if}}
  </div>
</td>

<td class="owner">
  <div class="owner-container">
    {{#if plugin.owner}}
      <button class="btn-owner-logo btn-plugin" {{action "toggleOwnerDetail"}} type="button">
        {{owner-logo plugin.owner label=true}}
      </button>

      {{#if showOwnerDetail}}
        {{owner-detail owner=plugin.owner}}
      {{/if}}
    {{/if}}
  </div>
</td>

<td class="status">
  <div class="status-container">
    <div role="button" {{action "toggleStatusDetail"}} class="status-badge with-text {{plugin.statusClass}}">
      {{d-icon plugin.statusIcon}}
      <span>{{plugin.statusTitle}}</span>
    </div>

    {{#if showStatusDetail}}
      {{plugin-status-detail plugin=plugin discourse=discourse}}
    {{/if}}
  </div>
</td>

<td class="actions">
  {{#if supportLink}}
    <a href={{supportLink}} class="btn-plugin" target="_blank" rel="noopener noreferrer">
      {{d-icon "far-life-ring"}}
      {{i18n "server_status.support"}}
    </a>
  {{/if}}
  {{#if plugin.try_url}}
    <a href={{plugin.try_url}} class="btn-plugin" target="_blank" rel="noopener noreferrer">
      {{d-icon "desktop"}}
      {{i18n "server_status.try"}}
    </a>
  {{/if}}
</td>
