<td class="name">
  <div class="name-container">
    <button class="btn btn-icon-text" {{action "togglePluginDetail"}}>
      <span classs="d-button-label">{{plugin.display_name}}</span>
    </button>

    {{#if showPluginDetail}}
      {{plugin-detail plugin=plugin}}
    {{/if}}
  </div>
</td>

<td class="owner">
  <div class="owner-container">
    <button class="btn-owner-logo" {{action "toggleOwnerDetail"}}>
      {{owner-logo plugin.owner label=true}}
    </button>

    {{#if showOwnerDetail}}
      {{owner-detail owner=plugin.owner}}
    {{/if}}
  </div>
</td>

<td class="status">
  <div class="status-container">
    <div role="button" {{action "toggleStatusDetail"}} class="status-badge {{plugin.statusClass}}">
      {{d-icon plugin.statusIcon}}
      <span>{{plugin.statusTitle}}</span>
    </div>

    {{#if showStatusDetail}}
      {{plugin-status-detail plugin=plugin discourse=discourse}}
    {{/if}}
  </div>
</td>

<td class="actions">
  <a href={{supportLink}} class="btn btn-default" target="_blank">
    {{d-icon "far-life-ring"}}
    <span class="d-button-label">{{i18n "server_status.support"}}</span>
  </a>
</td>