<td class="name">
  <div class="name-container">
    <a {{action "togglePluginDetail"}} class="btn-plugin" role="button">
      <span classs="name-label">{{plugin.display_name}}</span>
    </a>

    {{#if showPluginDetail}}
      {{plugin-detail plugin=plugin}}
    {{/if}}
  </div>
</td>

<td class="owner">
  <div class="owner-container">
    {{#if plugin.owner}}
      <button class="btn-owner-logo btn-plugin" {{action "toggleOwnerDetail"}} type="button">
        {{owner-logo plugin.owner label=true}}
      </button>

      {{#if showOwnerDetail}}
        {{owner-detail owner=plugin.owner}}
      {{/if}}
    {{/if}}
  </div>
</td>

<td class="status">
  <div class="status-container">
    <div role="button" {{action "toggleStatusDetail"}} class="status-badge with-text {{plugin.statusClass}}">
      {{d-icon plugin.statusIcon}}
      <span>{{plugin.statusTitle}}</span>
    </div>

    {{#if showStatusDetail}}
      {{plugin-status-detail plugin=plugin discourse=discourse}}
    {{/if}}
  </div>
</td>

<td class="category">
  {{#if pluginCategory}}
    {{category-link pluginCategory}}
  {{/if}}
</td>
