<div class="top">
  <div class="left">
    <div class="title">
      {{d-icon "plug"}}
      <span>{{i18n "plugin_manager.plugin_status"}}</span>
    </div>
  </div>

  <div class="buttons">
    <a href="/w/bug-report" class="btn btn-default" target="_blank" rel="noopener noreferrer">
      {{d-icon "far-life-ring"}}
      <span class="d-button-label">{{i18n "plugin_manager.report_an_issue"}}</span>
    </a>
  </div>
</div>

<div class="bottom">
  {{plugin-manifest plugins=plugins discourse=discourse}}
</div>
