<div class="detail-title">
  <div class="title-contents">
    <span class="title-text">{{plugin.display_name}}</span>
    {{branch-label plugin}}
  </div>

  {{#if plugin.owner}}
    {{owner-logo plugin.owner linked=true class="medium"}}
  {{/if}}
</div>

<ul class="detail-metadata">
  <li class={{aboutClass}}>
    <label class="detail-label">{{i18n "server_status.plugin.about"}}</label>
    <span class="detail-value">
      {{plugin.about}}
    </span>
  </li>
  {{#if plugin.authorList}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.authors"}}</label>
      <span class="detail-value">
        {{#each plugin.authorList as |author|}}
          <span>{{author}}</span>
        {{/each}}
      </span>
    </li>
  {{/if}}
  {{#if plugin.hasContactEmails}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.contact_emails"}}</label>
      {{#each plugin.contactEmails as |email|}}
        <span class="detail-value">
          <a href="mailto:{{email}}" target="_blank" rel="noopener noreferrer">{{email}}</a>
        </span>
      {{/each}}
    </li>
  {{/if}}
</ul>
