<div class="detail-title">
  <h3 class="title-text">{{plugin.display_name}}</h3>

  {{#if plugin.owner}}
    {{owner-logo plugin.owner linked=true class="medium"}}
  {{/if}}
</div>

<ul class="detail-metadata">
  {{#if documentationCategory}}
    <li class={{aboutClass}}>
      <label class="detail-label">{{i18n "plugin_manager.plugin.about"}}</label>
      <span class="detail-value">
        {{plugin.about}}
      </span>
    </li>
    {{#if plugin.authorList}}
      <li>
        <label class="detail-label">{{i18n "plugin_manager.plugin.authors"}}</label>
        <div class="detail-values">
          {{#each plugin.authorList as |author|}}
            <span class="detail-value">{{author}}</span>
          {{/each}}
        </div>
      </li>
    {{/if}}
  {{/if}}
  {{#if supportCategory}}
    <li>
      {{discourse-status discourse=discourse}}
    </li>
    <li>
      <label class="detail-label">{{i18n "plugin_manager.plugin.branch"}}</label>
      {{branch-label plugin}}
    </li>
    <li>
      <label class="detail-label">{{i18n "plugin_manager.plugin.status.label"}}</label>
      {{plugin-status-button plugin=plugin discourse=discourse}}
    </li>
    {{#if plugin.hasContactEmails}}
      <li>
        <label class="detail-label">{{i18n "plugin_manager.plugin.contact_emails"}}</label>
        {{#each plugin.contactEmails as |email|}}
          <span class="detail-value">
            <a href="mailto:{{email}}" target="_blank" rel="noopener noreferrer">{{email}}</a>
          </span>
        {{/each}}
      </li>
    {{/if}}
    {{#if plugin.maintainerUser}}
      <li>
        <label class="detail-label">{{i18n "plugin_manager.plugin.maintainer"}}</label>
        <span class="detail-value">
          <a href={{plugin.maintainerUser.path}} data-user-card={{plugin.maintainerUser.username}}>
            {{avatar plugin.maintainerUser imageSize="small"}}
          </a>
          <LinkTo @route="user" @model={{plugin.maintainerUser}}>{{plugin.maintainerUser.username}}</LinkTo>
        </span>
      </li>
    {{/if}}
  {{/if}}
</ul>
