<div class="plugin-list-title" {{action "toggleStatusDescription"}} role="button">
  <h4>{{listTitle}}</h4>
  <a title={{i18n "server_status.plugin.status_info"}} class="plugin-list-info">{{d-icon "question-circle"}}</a>
</div>

{{#if showStatusDescription}}
  <div class="status-description">
    <p>{{statusDescription}}</p>
    <div class="status-description-gutter">
      <a href={{learnMoreUrl}} title={{i18n "server_status.plugin.learn_more"}} target="_blank" class="learn-more">
        {{d-icon "external-link-alt"}}
        {{i18n "server_status.plugin.learn_more"}}
      </a>
    </div>
  </div>
{{/if}}

{{#each list.plugins as |plugin|}}
  {{plugin-status plugin=plugin discourse=discourse}}
{{/each}}