<div class="detail-title">
  <div class="title-contents">
    {{#if category}}
      {{discourse-status discourse=discourse}}
    {{/if}}

    <div>
      <label class="detail-label">{{i18n "server_status.plugin.title"}}</label>
      {{#if category}}
        {{category-drop
          category=category
          categories=site.categories
          options=(hash
            parentCategory=category.parentCategory
            subCategory=category.isSubcategory
            noSubcategories=category.noSubcategories
            autoFilterable=true
          )
        }}
      {{else}}
        <span class="title-text">{{plugin.display_name}}</span>
      {{/if}}
    </div>

    <div>
      <label class="detail-label">{{i18n "server_status.plugin.branch"}}</label>
      {{branch-label plugin}}
    </div>

    {{#if category}}
      <div>
        <label class="detail-label">{{i18n "server_status.plugin.status.label"}}</label>
        {{plugin-status-button plugin=plugin discourse=discourse}}
      </div>
    {{/if}}
  </div>

  {{#if category}}
    {{plugin-actions plugin=plugin}}
  {{else}}
    {{#if plugin.owner}}
      {{owner-logo plugin.owner linked=true class="medium"}}
    {{/if}}
  {{/if}}
</div>

<ul class="detail-metadata">
  <li class={{aboutClass}}>
    <label class="detail-label">{{i18n "server_status.plugin.about"}}</label>
    <span class="detail-value">
      {{plugin.about}}
    </span>
  </li>
  {{#if plugin.authorList}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.authors"}}</label>
      {{#each plugin.authorList as |author|}}
        <span class="detail-value">{{author}}</span>
      {{/each}}
    </li>
  {{/if}}
  {{#if plugin.hasContactEmails}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.contact_emails"}}</label>
      {{#each plugin.contactEmails as |email|}}
        <span class="detail-value">
          <a href="mailto:{{email}}" target="_blank" rel="noopener noreferrer">{{email}}</a>
        </span>
      {{/each}}
    </li>
  {{/if}}
  {{#if plugin.tags}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.tags"}}</label>
      <span class="plugin-tags">
        {{#each plugin.tags as |tag|}}
          {{discourse-tag tag}}
        {{/each}}
      </span>
    </li>
  {{/if}}
</ul>
