<div class="top">
  <div class="left">
    <div class="title">
      {{d-icon "plug"}}
      <span>{{i18n "server_status.title"}}</span>
    </div>
  </div>

  <div class="buttons">
    <a href="/w/bug-report" class="btn btn-default" target="_blank" rel="noopener noreferrer">
      {{d-icon "bug"}}
      <span class="d-button-label">{{i18n "server_status.report_an_issue"}}</span>
    </a>
    <a href="/w/submit-a-plugin" class="btn btn-default" target="_blank" rel="noopener noreferrer">
      {{d-icon "plus"}}
      <span class="d-button-label">{{i18n "server_status.add_plugin"}}</span>
    </a>
  </div>
</div>

<div class="bottom">
  {{plugin-manifest plugins=plugins discourse=discourse}}
</div>
