<div class="detail-title">
  <h3 class="title-text">{{plugin.display_name}}</h3>

  {{#if category}}
    <div class="title-contents">
      {{discourse-status discourse=discourse}}

      <div>
        <label class="detail-label">{{i18n "server_status.plugin.branch"}}</label>
        {{branch-label plugin}}
      </div>

      <div>
        <label class="detail-label">{{i18n "server_status.plugin.status.label"}}</label>
        {{plugin-status-button plugin=plugin discourse=discourse}}
      </div>
    </div>
  {{else}}
    {{#if plugin.owner}}
      <div class="detail-links">
        {{owner-logo plugin.owner linked=true class="medium"}}
      </div>
    {{/if}}
  {{/if}}
</div>

<ul class="detail-metadata">
  <li class={{aboutClass}}>
    <label class="detail-label">{{i18n "server_status.plugin.about"}}</label>
    <span class="detail-value">
      {{plugin.about}}
    </span>
  </li>
  {{#if plugin.authorList}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.authors"}}</label>
      <div class="detail-values">
        {{#each plugin.authorList as |author|}}
          <span class="detail-value">{{author}}</span>
        {{/each}}
      </div>
    </li>
  {{/if}}
  {{#if plugin.hasContactEmails}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.contact_emails"}}</label>
      {{#each plugin.contactEmails as |email|}}
        <span class="detail-value">
          <a href="mailto:{{email}}" target="_blank" rel="noopener noreferrer">{{email}}</a>
        </span>
      {{/each}}
    </li>
  {{/if}}
  {{#if plugin.tags}}
    <li>
      <label class="detail-label">{{i18n "server_status.plugin.tags"}}</label>
      <span class="plugin-tags">
        {{#each plugin.tags as |tag|}}
          {{discourse-tag tag}}
        {{/each}}
      </span>
    </li>
  {{/if}}
</ul>
