<h4>{{header}}</h4>

<div class="description">
  {{{description}}}
</div>

<div class="statuses">
  {{#each plugins as |plugin|}}
    <div class="plugin-status details">
      <div class="name">{{plugin.name}}</div>
      <div class="sha-link">
        <a href={{plugin.gitLink}} rel="noopener noreferrer" target="_blank">
          {{plugin.shortSha}}
        </a>
      </div>
    </div>
  {{/each}}
</div>