<div role="button" {{action "toggleStatusDetail"}} class="status-badge with-text {{plugin.statusClass}}">
  {{d-icon plugin.statusIcon}}

  {{#if showLabel}}
    <span class="status-label">{{plugin.statusTitle}}</span>
  {{/if}}
</div>

{{#if showStatusDetail}}
  {{plugin-status-detail plugin=plugin discourse=discourse}}
{{/if}}
