<li>
  <span>{{i18n 'server_status.plugin.commit'}}:</span>
  <span><a href={{plugin.gitLink}} title={{i18n 'server_status.plugin.commit'}}>{{plugin.shortSha}}</a></span>
</li>
{{#if plugin.test_backend_coverage}}
  <li>
    <span>{{i18n 'server_status.plugin.test_backend_coverage'}}:</span>
    <span>{{plugin.test_backend_coverage}}%</span>
  </li>
{{/if}}
{{#if hasContactEmails}}
  <li>
    <span>{{i18n 'server_status.plugin.contact_emails'}}:</span>
    {{#each contactEmails as |email|}}
      <span><a href="mailto:{{email}}">{{email}}</a></span>
    {{/each}}
  </li>
{{/if}}