<div class="top">
  <div class="left">
    <h4>{{i18n 'discourse_server_status.title'}}</h4>
    
    <div class="information">
      {{i18n 'discourse_server_status.description'}}
    </div>
    
    <div class="discourse">
      <div class="name">{{i18n 'discourse_server_status.site'}}</div>
      
      <div class="branch">
        {{dash-if-empty discourse.git_branch}}
      </div>
      
      <div class="version">
        {{dash-if-empty discourse.installed_version}}
      </div>
      
      <div class="sha-link">
        <a href={{discourse.gitLink}} rel="noopener noreferrer" target="_blank">
          {{discourse.shortSha}}
        </a>
      </div>
    </div>
  </div>
  
  <div class="buttons">
    {{#if updateTopic.event}}
      <a href="{{updateTopic.url}}" class="{{updateClass}}">
        <span>{{i18n updateTitle}}</span>
        <div class="event">{{event-label updateTopic.event}}</div>
      </a>
    {{/if}}
    
    <a href="https://thepavilion.io/w/bug-report" class="btn btn-default" target="_blank">
      {{d-icon "bug"}}
      <span class="d-button-label">
        {{i18n "discourse_server_status.bug_report"}}
      </span>
    </a>
  </div>
</div>

<div class="bottom">
  {{plugin-statuses
    type="plugins"
    plugins=plugins
    discourse=discourse}}
  {{plugin-statuses
    type="incompatible_plugins"
    plugins=incompatiblePlugins
    discourse=discourse}}
</div>