<div class="top">
  <div class="left">    
    {{discourse-status discourse=discourse}}
  </div>

  <div class="buttons">
    <a href="https://thepavilion.io/w/bug-report" class="btn btn-default" target="_blank">
      {{d-icon "bug"}}
      <span class="d-button-label">{{i18n "server_status.bug_report"}}</span>
    </a>
  </div>
</div>

<div class="bottom {{bottomClass}}">
  {{#each plugins as |plugin|}}
    {{plugin-status plugin=plugin discourse=discourse}}
  {{/each}}
</div>