<div class="top">
  <div class="left">
    <h3>{{i18n 'server_status.title'}}</h3>   
    {{discourse-status discourse=discourse}}
  </div>

  <div class="buttons">
    <a href="mailto:angus@thepavilion.io?subject=Adding a plugin to the Plugin Manifest" class="btn btn-default" target="_blank">
      {{d-icon "plus"}}
      <span class="d-button-label">{{i18n "server_status.add_plugin"}}</span>
    </a>
    <a href="https://thepavilion.io/w/bug-report" class="btn btn-default" target="_blank">
      {{d-icon "bug"}}
      <span class="d-button-label">{{i18n "server_status.bug_report"}}</span>
    </a>
  </div>
</div>

<div class="bottom">
  {{#each pluginLists as |list|}}
    {{plugin-list list=list discourse=discourse}}
  {{/each}}
</div>